extends layout

block content
  h1 Spreza
  p sprezzatura
  p /ˌspretsəˈt(y)o͝orə/
  br
  p a studied carelessness, especially as a characteristic quality or style of art or literature.
  li(class="active")
    a(href="demo") Demo
  br
  li
    a(href="mob") Mobile-friendly demo
  br
  li
    a(href="jumbo") Home
